.button {
  background: light-dark($color-accent-60, $color-accent-50);
  border: none;
  border-radius: $radius-m;
  color: light-dark($color-neutral-00, $color-neutral-100);
  font-weight: $font-weight-medium;
  line-height: $v-30;
  padding: 0 $s-8;

  &:hover {
    background: light-dark($color-accent-70, $color-accent-40);
  }

  &:active {
    background: light-dark($color-accent-80, $color-accent-40);
    box-shadow: $shadow-inset;
  }

  &:focus-visible {
    outline-offset: 1px;
  }

  &[disabled] {
    background-color: light-dark($color-neutral-20, $color-neutral-90);
    color: light-dark($color-neutral-50, $color-neutral-60);
    cursor: not-allowed;
  }
}
