.modal {
  background: $background-color-neutral-00;
  border: 1px solid $foreground-color-neutral-60;
  border-radius: $radius-m;
  box-shadow: $shadow;
  margin: auto;
  max-width: 48rem;
  padding: $s-16;

  &::backdrop {
    background: $background-color-overlay;
  }
}
