$font-family-sans-serif: system-ui, sans-serif;
$font-family-monospace: ui-monospace, "Cascadia Code", "Source Code Pro",
  "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
$font-weight-bold: 700;
$font-weight-normal: 400;
