@use "sass:math";

$font-family-sans-serif: system-ui, sans-serif;
$font-family-monospace: ui-monospace, "Cascadia Code", "Source Code Pro",
  "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

// modular scale for font sizes
$font-size-up-2: 1.44rem;
$font-size-up-1: 1.2rem;
$font-size-base: 1rem;
$font-size-down-1: 0.833rem;

// ensure vertical rhythm
$v-1: math.div(1rem, 16);
$v-5: 5 * $v-1;
$v-10: 10 * $v-1;
$v-20: 20 * $v-1;
$v-30: 30 * $v-1;
$v-40: 40 * $v-1;
$v-50: 50 * $v-1;

// general spacing
$s-1: math.div(1rem, 16);
$s-2: 2 * $s-1;
$s-4: 4 * $s-1;
$s-8: 8 * $s-1;
$s-16: 16 * $s-1;

// radius
$radius-m: $s-4;

// colors
$color-neutral-00: #fff;
$color-neutral-05: #f9f9f9;
$color-neutral-10: #f0f1f1;
$color-neutral-20: #e4e6e6;
$color-neutral-30: #d2d6d7;
$color-neutral-40: #b7bcbf;
$color-neutral-50: #8c969a;
$color-neutral-60: #6b757a;
$color-neutral-70: #5f696e;
$color-neutral-80: #545d61;
$color-neutral-85: #434b4f;
$color-neutral-90: #383d41;
$color-neutral-95: #2a2e30;
$color-neutral-98: #1c2022;
$color-neutral-100: #080a0b;
$color-accent-05: #f6fcff;
$color-accent-10: #edf9ff;
$color-accent-20: #d2efff;
$color-accent-30: #a6e0fe;
$color-accent-40: #4dc1fd;
$color-accent-50: #009ff2;
$color-accent-60: #0077c4;
$color-accent-70: #005999;
$color-accent-80: #004c84;
$color-accent-90: #003a64;
$color-accent-95: #003459;
$color-accent-100: #002742;
$color-status-error-05: #fbf2f2;
$color-status-error-10: #f7e7e7;
$color-status-error-20: #ff9696;
$color-status-error-30: #ff5f5f;
$color-status-error-40: #e03030;
$color-status-error-50: #a52020;
$color-status-error-100: #461313;
$color-status-success-05: #f6f9f2;
$color-status-success-10: #e5f8de;
$color-status-success-20: #84e399;
$color-status-success-30: #4ac966;
$color-status-success-40: #038a21;
$color-status-success-50: #006b18;
$color-status-success-100: #0c3c17;
$color-status-information-05: #f6fcff;
$color-status-information-10: #e1f4ff;
$color-status-information-20: #a6e0fe;
$color-status-information-30: #4dc1fd;
$color-status-information-40: #0077c4;
$color-status-information-50: #005987;
$color-status-information-100: #073952;
$color-status-warning-05: #fff9ef;
$color-status-warning-10: #ffedd1;
$color-status-warning-20: #ffd28f;
$color-status-warning-25: #ffbd5c;
$color-status-warning-30: #f3912f;
$color-status-warning-40: #ba5d00;
$color-status-warning-50: #934b03;
$color-status-warning-100: #43280e;
$color-status-neutral-05: #f6f6f6;
$color-status-neutral-10: #efefef;
$color-status-neutral-20: #d8d8d8;
$color-status-neutral-30: #a6a6a6;
$color-status-neutral-40: #707070;
$color-status-neutral-50: #535353;
$color-status-neutral-100: #333;

// shadows
$shadow: 0 6px 16px 0 light-dark(rgba(23 54 71 / 16%), rgba(8 10 11 / 30%));
$shadow-inset: 0 2px 6px -4px light-dark(
    rgba(23 54 71 / 24%),
    rgba(0 0 0 / 24%)
  ) inset;

// derived colors
$color-neutral: light-dark($color-neutral-98, $color-neutral-00);
$color-accent: light-dark($color-accent-60, $color-accent-40);
$color-error: light-dark($color-status-error-40, $color-status-error-30);
$color-success: light-dark($color-status-success-40, $color-status-success-30);
$color-line: light-dark($color-neutral-40, $color-neutral-60);
$color-disabled: light-dark($color-neutral-50, $color-neutral-60);
$background-color-disabled: light-dark($color-neutral-05, $color-neutral-95);
$background-color-neutral: light-dark($color-neutral-00, $color-neutral-98);
$background-color-overlay: light-dark(
  rgba($color-neutral-80, 0.5),
  rgba($color-neutral-60, 0.5)
);

// time
$time-fast: 0.15s;
$time-standard: 0.3s;
